.recieptCard{
    max-width: 900px;
    margin:0 auto;
    margin-top:15px;
    padding:15px;
}

.gridContainer{
    padding:0px;
}

.itemRow{
    border-bottom: 0px;
}
.tableCell{
    border:0 !important;
}

.quantityTextField{
    min-width:50px;
}

.priceTextCell{
    padding-right: 5px;
}

.itemColumn{
    padding:3px;
}
.itemTextField{
    padding:0px;
    height:45px;
    padding:10px;
}


.deleteIcon{
    padding:0px !important;
}

.totalContainer{
    border-top: 1px solid;
    text-align: left
}

.totalContainer table{
    width:100%;
}